<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7kCJrab8RFC1CHR3AJASLEtiim-O1NQU</string>
	<key>GCM_SENDER_ID</key>
	<string>758525324097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.psicologiaAppLiid</string>
	<key>PROJECT_ID</key>
	<string>psicologia-app-liid</string>
	<key>STORAGE_BUCKET</key>
	<string>psicologia-app-liid.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758525324097:ios:98c8935d213650500a8fc0</string>
</dict>
</plist>